/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Kaushan+Script&family=League+Spartan:wght@400;700&family=Nunito&family=Oswald&family=Poppins:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: League Spartan, sans-serif;
  font-size: 12px;
}
/* menue icon */
#showListButton {
  position: absolute;
  /*  */
  top: 0;
  right: 0;
  /*  */
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#surasContainer {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
}
#surasList {
  list-style-type: none;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* max-height: 200px; */
  width: 200px;
  overflow-y: auto;
}

#surasList li {
  padding: 10px;
}

.hidden {
  display: none;
}
/*  */
.player-container {
  position: fixed;
  height: 500px;
  width: 400px;
  background: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  position: relative;
  height: 300px;
  width: 300px;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

/* madia query */
@media screen and (max-width: 376) {
  .player-container {
    width: 95vw;
  }
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}
.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
/* Query */
/* Mobile Styles */
@media screen and (max-width: 576px) {
  body {
    font-size: 10px;
  }

  #surasContainer {
    margin-top: 30px;
  }

  #surasList {
    width: 150px;
  }

  .player-container {
    height: 400px;
    width: 300px;
  }

  .img-container {
    height: 200px;
    width: 200px;
    top: -30px;
    left: 50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .progress-container {
    margin: 20px 10px;
  }

  .duration-wrapper {
    top: -15px;
  }

  .player-controls {
    top: -10px;
    left: 90px;
    width: 150px;
  }
}

/* Tablet Styles */
@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .player-container {
    height: 450px;
    width: 350px;
  }

  .img-container {
    height: 250px;
    width: 250px;
    top: -40px;
    left: 75px;
  }

  .player-controls {
    top: -10px;
    left: 105px;
    width: 180px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 769px) {
  body {
    font-size: 12px;
  }

  .player-container {
    height: 500px;
    width: 400px;
  }

  .img-container {
    height: 300px;
    width: 300px;
    top: -50px;
    left: 50px;
  }

  .player-controls {
    top: -15px;
    left: 120px;
    width: 200px;
  }
}
/* Mobile Styles */
@media screen and (max-width: 375px) {
  body {
    font-size: 10px;
  }

  #surasContainer {
    margin-top: 30px;
  }

  #surasList {
    width: 150px;
  }

  .player-container {
    height: 400px;
    width: 300px;
  }

  .img-container {
    height: 200px;
    width: 200px;
    top: -30px;
    left: 50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .progress-container {
    margin: 20px 10px;
  }

  .duration-wrapper {
    top: -15px;
  }

  .player-controls {
    top: -10px;
    left: 90px;
    width: 150px;
  }
}

/* Landscape Phone Styles */
@media screen and (min-width: 376px) and (max-width: 568px) {
  body {
    font-size: 12px;
  }

  .player-container {
    height: 450px;
    width: 350px;
  }

  .img-container {
    height: 250px;
    width: 250px;
    top: -40px;
    left: 75px;
  }

  .player-controls {
    top: -10px;
    left: 105px;
    width: 180px;
  }
}
/* 

#surasContainer:active {
  .player-container {
    display: none;
  }
} */
