* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Kaushan+Script&family=League+Spartan:wght@400;700&family=Nunito&family=Oswald&family=Poppins:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: League Spartan, sans-serif;
  font-size: 12px;
}
/* menue icon */
#showListButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#surasContainer {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
}
#surasList {
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 200px;
  overflow-y: auto;
  display: grid;
  gap: 3px;
}

#surasList li {
  background-color: #f9f9f9;

  padding: 10px;
  text-align: center;
  border: solid;
  border-color: #c9ced3;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
#surasList li:hover {
  background-color: #777777;

  /* color: #00008b; */
}
#surasList li:active {
  transform: scale(0.95);
}

.hidden {
  display: none;
}
/*  */
.player-container {
  position: fixed;
  height: 500px;
  width: 400px;
  background: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  position: relative;
  height: 300px;
  width: 300px;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

/* madia query */
@media screen and (max-width: 376) {
  .player-container {
    width: 95vw;
  }
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}
.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Query */

/* Phone query */

@media (max-width: 410px) {
  .player-container {
    height: 450px;
    width: 300px;
  }
  .img-container {
    left: 35px;
    position: relative;
    height: 230px;
    width: 230px;
    top: -50px;
  }
  .player-controls {
    left: 85px;
  }
}
